[mysqld]
port = {{ mysql_port }}
socket = {{ mysql_socket }}
datadir = {{ mysql_datadir }}
basedir = {{ mysql_basedir }}
lc-messages-dir = {{ mysql_lc_messages_dir }}
symbolic-links = 0
bind-address = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
